<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
    <h1>DZ</h1>
    <form name="profile">
        <input type="file" name="person">
        <input type="text" placeholder="id" name="person">
        <button type="submit">send</button>
    </form>
    <script src="/js/main.js"></script>
</body>
</html>